bodyProductos {
    font-family: Arial, sans-serif;
    background-color: #82b4d8;
    margin: 0;
    padding: 20px;
}

.contenedorProductos {
    max-width: 1000px;
    margin: auto;
    text-align: left;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
}

.subtitulo {
    font-size: 16px;
    color: #333;
}

.carrusel {
    width: 88%; 
    height: 90%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    justify-content:center;
}

.categorias{
    background-color:lightgray;
    width:11%;
    float: left;
    padding:0px 0px 0px 30px;
}

.carrusel-contenido {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; /* Espacio entre productos */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

    .carrusel-contenido::-webkit-scrollbar {
        display: none;
    }

.producto {
    background-color:azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid white; 
    border-radius: 2px;
}

    .producto img {
        width: 100px;
        height: 100px;
    }

    .producto h3 {
        font-size: 16px;
        margin: 10px 0;
    }

    .producto p {
        color: #ff7b00;
        font-weight: bold;
        font-size: 18px;
    }

.boton {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

    .boton:hover {
        background: #ddd;
    }

.boton-container {
    display: flex;
    align-items: center;
}

.boton-derecha {
    transform: rotate(180deg);
}

.boton img {
    width: 20px;
}

.boton-agregar {
    background: navy;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.familias{
    margin-bottom: 10px;
    font-size:17px;
}

    .boton-agregar:hover {
        background: darkblue;
    }
