bodyProductos {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 20px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

.navbar {
background-color: #003f63;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
}

.buttonImageLogo {
background: none;
border: none;
cursor: pointer;
margin-left: 5px;
}

.search-box-a {
display: flex;
gap: 10px;
align-items: center;
}

.search-box-precio {
border: 2px solid #ccc;
border-radius: 5px;
padding: 5px 5px;
width: 70px;
background-color: white;
}
.search-box-precio input {
border: none;
outline: none;
flex: 1;
padding: 5px;
font-size: 14px;
background: transparent;
}

.search-box {
display: flex;
align-items: center;
border: 2px solid #ccc;
border-radius: 10px;
padding: 5px 10px;
width: 500px;
background-color: white;
}

.search-box input {
border: none;
outline: none;
flex: 1;
padding: 5px;
font-size: 16px;
background: transparent;
}

.search-box input::placeholder {
font-style: italic;
color: #aaa;
}

.search-box button {
background: none;
border: none;
cursor: pointer;
}

.search-box button img {
width: 20px;
height: 20px;
}

.buttonOpcion {
background: none;
border: none;
cursor: pointer;
margin-right: 35px;
}

.carousel {
position: relative;
max-width: auto;
margin: auto;
overflow: hidden;
}

.slides {
display: flex;
transition: transform 0.5s ease-in-out;
}

.slide {
min-width: 100%;
box-sizing: border-box;
}

.slide img {
width: 100%;
display: block;
}

.familyContainer {
display: flex;
padding-left: 80px;
padding-right: 80px;
}

.familyContainer > div {
width: auto;
display: inline-block;
margin: auto;
border-radius: 10px;
background-color: #ffffff;
text-align: center;
}

.contenedorProductos {
    max-width: 1000px;
    margin: auto;
    text-align: left;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
}

.subtitulo {
    font-size: 16px;
    color: #333;
}

.carrusel {
    width: 88%; 
    height: 90%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    justify-content:center;
    float:left;
}

.categorias{
  font-family: 'Segoe UI', sans-serif;
  background-color:lightgray;
  width: 12%;
  float: right;
  padding:0px 0px 0px 30px;
}

.carrito-container {
  padding: 20px 250px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.productos {
  border: 1px solid #ddd;
  background: white;
  border-radius: 5px;
  padding: 20px;
  flex: 1.5;
  min-width: 600px;
}

.resumen {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  height: fit-content;
}

.carrito-header, .carrito-producto {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.flecha {
  margin-left: auto;
  font-size: 20px;
}

.carrito-producto img {
  width: 60px;
  border-radius: 8px;
}

.producto-info {
  flex: 1;
}

.producto-info .titulo {
  font-weight: bold;
  margin: 0;
}

.acciones a {
  margin-right: 15px;
  font-size: 14px;
  color: #2968c8;
  text-decoration: none;
}

.disponibles {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
}

.cantidad {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.cantidad button {
  border: none;
  background: #eee;
  padding: 5px 10px;
  font-weight: bold;
}

.cantidad input {
  width: 30px;
  border: none;
  text-align: center;
}

.precio {
  text-align: right;
}

.descuento {
  font-size: 12px;
  color: green;
}

.precio-final {
  font-size: 18px;
  font-weight: bold;
}

.precio-final sup {
  font-size: 12px;
}

.envio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.barra-envio {
  flex: 1;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  margin: 0 10px;
}

.progreso {
  height: 100%;
  width: 100%;
  background: #00b341;
  border-radius: 3px;
}

.promo-envio {
  font-size: 14px;
  margin-top: 10px;
}

.resumen h3 {
  margin-top: 0;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-size: 15px;
}

.cupon {
  display: block;
  color: #2968c8;
  font-size: 14px;
  margin: 10px 0;
  text-decoration: none;
}

.btn-comprar {
  background: #3483fa;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}




