bodyProductos {
  font-family: Arial, sans-serif;
  background-color: #82b4d8;
  margin: 0;
  padding: 20px;
}

.contenedorProductos {
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}

.subtitulo {
  font-size: 16px;
  color: #333;
}

.carrusel {
  width: 88%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.categorias {
  background-color: lightgray;
  width: 11%;
  float: left;
  padding: 0px 0px 0px 30px;
}

.carrusel-contenido {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Espacio entre productos */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.carrusel-contenido::-webkit-scrollbar {
  display: none;
}

.producto {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 2px solid lightgray;
  border-radius: 2px;
}

.producto img {
  width: 100px;
  height: 100px;
}

.producto h3 {
  font-size: 16px;
  margin: 10px 0;
}

.producto p {
  color: #ff7b00;
  font-weight: bold;
  font-size: 18px;
}

.boton {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.boton:hover {
  background: #ddd;
}

.boton-container {
  display: flex;
  align-items: center;
}

.boton-derecha {
  transform: rotate(180deg);
}

.boton img {
  width: 20px;
}

.boton-agregar {
  background: navy;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.familias {
  margin-bottom: 10px;
  font-size: 17px;
}

.boton-agregar:hover {
  background: darkblue;
}

.footer {
  background-color: #003F63;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
  font-family: 'Segoe UI', sans-serif;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ffffff44;
  padding-bottom: 5px;
}

.footer-section a {
  display: block;
  color: #dcdcdc;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #ffffff;
}

.footer-section p {
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.2);
}

.imgFooter{
    background-color: #003F63;
    display: flex;
}

.imgFooter > img{
    padding-bottom: 30px;
    margin: auto;
    width: 90px;
    height: 90px;
    max-width:100%;
    height:auto;
}
